*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    border-color: rgb(9, 157, 161);
    box-shadow: 0px 0px 6px #099da1;
    flex-wrap: wrap;
}

nav{
    display: flex;
    flex-wrap: wrap;
}

nav a{
    flex: 1;
      margin: 0 10px;
      text-decoration: none;
      color: #333;
}
/*Welcome Section*/

.welcome{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    padding-top: 6rem;
    padding-bottom: 19.5rem;
    background-image: url('./image/bg.png');
    background-size: cover;
    background-position: center;
}

.welcomeText {
      flex: 1;
      width: 50%;
      max-width: 100%;
      padding-left: 2%;
      padding-top: 2rem;
    }

.welcomeText h1 {
      color: black;
      font-size: 3.3rem;
      padding-bottom: 2rem;
      line-height: 1;
}

.welcomeText p{
      padding-bottom: 3rem;
      width: 90%;
}

.welcome img {
      flex: 1;
      max-width: 100%;
      height: auto;
}

.learnMoreButton{
    background-color: #099da1;
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 16px;
    cursor: pointer;
}
/* end of Welcome Section*/
/*.Services Section.*/

.services{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services .card{
    width: 260px;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 6px #099da1;
    column-gap: 1rem;
}

.cardIcon{
    text-align: center;
    font-size: 1.2rem;
}

.cardTitle{
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

.cardDesc{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 3%;
    width: 99%;
}
/* end of Services Section*/
/*.About Section....*/

.aboutUs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    padding-bottom: 6rem;
}

.aboutUs img{
    flex: 1 ;
    max-width: 100%;
    height: auto;
}

.aboutUs div{
    flex: 1 1;
    padding-left: 2.5rem;
    width: 37%;
}

.aboutUs div h2{
    font-size: 40px;
}

.aboutUs div p{
    padding-top: 25px;
    padding-bottom: 25px;
}

/* end of About Section*/